.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.button{
    display: inline-block;
    font-size: 14px;
    padding: 0 16px;
    line-height: 32px;
    border: 1px solid;
    border-radius: 3px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
}
.button-blue{
    color: #0084ff;
    border-color: #0084ff;
}
.button-grey{
    color: #8590a6;
    border-color: #8590a6;
}
.button-plain{
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.card{
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    box-sizing: border-box;
}
.tabs{
    border-bottom: 1px solid #f6f6f6;
}
.text-blue{
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(0, 132, 255);
    margin: 0px 0px 0px 8px;
}
.popover{
    position: relative;
    display: inline-block;
}
.header{
    min-width: 1032px;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 0 rgba(26, 26, 26, .1);
    border:none;
    background-clip:content-box ;
    top: 0;
    left: 0;
    overflow: hidden;
}
.headerinner{
    width: 1000px;
    height: 52px;
    padding: 0px 16px;
    margin: 0 auto;
    position: flex;
    display: flex;
    align-items: center;
}
.icon{
    vertical-align: text-bottom;
    fill: currentColor;
}
.logo{
    fill: #0084ff;
}
.header-tabs{
    border-bottom: none;
    display: inline;
    margin: 0 23px;
    clear: both;
    display: inline-block;
}
.tab-item{
    padding: 0 17px;
}
.tabs-item{
    display: inline-block;
    padding: 0 20px;
}
.tabs-link{
    color: #8590a6;
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 14px 0;
    line-height: 22px;
    text-align: center;
}
.tabs-link-active{
    font-weight: 600;
    color: #444;
}
.tabs-link-active::after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #0084ff;

    content: "";
}
.search{
    height: 34px;
    width: 400px;
    display: inline-block;
}
.search-input{
    position: relative;
    z-index: 104;
}
.search-input-tool{
    float: left;
    overflow: hidden;
    background-color: #f6f6f6;
}
.search-button{
    margin-left: 12px;
    padding: 0px 12px ;
    height: 30px;
    background: transparent;
    border-color: transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    display: inline-block;
    color: #8590a6;
    background-color: #0084ff;
    border: #0084ff;
    text-align: center;
    cursor: pointer;
    background: none;
    border-radius: 3px;
    background-color: #f6f6f6;
}
.search-input-label{
    height: 34px;
    padding: 4px 10px;
    padding-left: 12px;
    font-size: 14px;
    transition: 2s;
    -webkit-transition: 2s;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    align-items: center;
}
.search-input-inner{
    background-color: #f6f6f6;
    border: none;
    outline: none;
    font-size: 15px;
}
.search-icon{
    height: 32px;
    margin-left: 16px;
    padding: 0px 14px ;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    background-color: #0084ff;
}
.appheader{
    width: 268px;
    height: 31px;
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1;
}
.message{
    margin-right: 40px;
    position: relative;
    display: inline-block;
}
.message-button{
    font-size: 14px;
    background: none;
    text-align: center;
    padding: 0;
    border: none;
    border-radius: 0;
}
.message-icon{
    width: 22px;
    height: 22px;
    line-height: inherit;
    color: #8590a6;
    cursor: pointer;
    font: inherit;
}
.profile-img{
    vertical-align: top;
    background:#fff;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    font-size: 15px;
}
.topstory-container{
    display:flex;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}
.topstory-main{
    margin-right: 10px;
    width: 694px;
}
.topstory-nav{
    flex: 1 1;
    font-size: 14px;
    position: relative;
    right: 0px;
    
}
.write-card{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}
.topstory-navitems{
    align-items: center;
    cursor: pointer;
    flex: 0 0 98px;
    flex-direction: column;
    height: 94px;
    width: 98px;
    justify-content: center;
    position: relative;
    font-size: 14px;
}
.topstory-navicon{
    color: #8590a6;
    margin-bottom: 6px;
}
.topstory-navtitle{
    color: #444;
    font-size: 16px;
}
.newyear2020{
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 2px;
}
.topstory-column{
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}
.topstory-column-content{
    font-size: 15px;
}
.topstory-column-recommend{
    border-bottom: 1px solid #f0f2f7;
    border-radius: 0;
    overflow: initial;
    position: relative;
    padding: 20px;
    margin-bottom: 0;
}
.topstory-column-follow{
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
    padding-top: 15px;
    border-radius: 0;
    overflow: initial;
    position: relative;
    padding: 16px 20px;
}
.topstory-column-hot{
    background: white;
    display: flex;
    padding: 16px 16px 16px 0;
    position: relative;
}
.recommend-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    margin-top: -4px;
    margin-bottom: -4px;
}
.topstroy-column-nav{
    overflow: hidden;
    border-radius: 2px;
    border-bottom: 1px solid #f0f2f7;
    display: flex;
    height: 58px;
    box-sizing: border-box;
    background: #fff;
    margin: 0;

}
.topstroy-column-navicon{
    font-weight: 500;
    align-items: center;
    display: flex;
    font-size: 16px;
    margin: 0 22px;
    text-decoration: none;
}
.topstroy-column-navicon-active{
    color: #0084ff;
    font-weight: 500;
}
.profile-header{
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
}
.user-cover{
    position: relative;
    height: 240px;
    overflow: hidden;
    background: #f6f6f6;
    border-radius: 1px;
}
.profile-header-wrapper{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.profile-header-main{
    margin: 0 20px 24px;
    position: relative;
}
.profile-header-avatar{
    position: absolute;
    left: 0;
    top: -74px;
    z-index: 1;
    cursor: pointer;
}
.profile-header-content{
    padding-top: 16px;
    padding-left: 32px;
    border-left: 164px solid transparent;
}
.profile-header-content-header{
    position: relative;
    margin-bottom: 16px;
    padding-right: 106px;
}
.profile-header-content-body{
    position: relative;
    width: 524px;
}
.profile-header-title{
    flex: 1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile-header-name{
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}
.profile-header-headline{
    margin-left: 12px;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
}
.profile-header-info{
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}
.profile-header-content-footer{
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}
.profile-header-expendbutton{
    line-height: 1;
}
.profile-header-button-icon{
    margin: 0 16px 0 4px;
}
.profile-header-buttons{
    position: absolute;
    right: 0;
    bottom: 0;
}
.profile-main{
    width: 1000px;
    min-height: 100vh;
    padding: 0 16px;
    margin: 10px auto;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}
.profileMain{
    overflow: initial;
}
.profile-maincolumn{
    width: 694px;
}
.profile-maincolumn-tab{
    display:flex;
    justify-content: space-between;
}
.profile-main-menu{
    font-size: 16px;
    color: #1a1a1a;
}
.profile-main-menu-icon{
    margin-left: 4px;
}
.profile-sidecolumn{
    width: 296px;
    color: #646464;
}
.profile-lightList{
    font-size: 14px;
}
.profile-lightList-item{
    padding-left: 5px;
    display: flex;
    align-items: center;
    height: 46px;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
    cursor: pointer;
}
.profile-lightList-name{
    flex-grow: 1;
}
.profile-lightList-value{
    font-size: 14px;
    color: #8590a6;
}
.profile-footer{
    color: #8590a6;
    width: 100%;
    padding: 10px 0 10px 5px;
    box-sizing: border-box;
    margin-top: 6px;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
}
.Tabs-link{
    position: relative;
    display: inline-block;
    padding: 14px 0;
    font-size: 16px;
    line-height: 22px;
    color: #1a1a1a;
    text-align: center;
    cursor: pointer;
}
.Tabs-link-active{
    font-weight: 600;
}
.Tabs-link-active::after{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
    height: 3px;
    background: #0084ff;
    content: "";
}
.Tabs-meta{
    margin-left: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    font-weight: 400;
}
.Tabs-button{
    margin-left: 4px;
    vertical-align: text-bottom;
    fill: currentColor;
    font-size: 16px;
    color: #1a1a1a;
    line-height: inherit;
    text-align: center;
    cursor: pointer;
    font: inherit;

} 
.user-avatar{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 8px;
}
.user-avatar-inner{
    height: 160px;
    width: 160px;
    vertical-align: top;
    border-radius: 4px;
    background: #fff;
}
.list-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
}
.list-header-text{
    font-weight: 600px;
    margin: 0;
}
.list-items{
    position: relative;
    padding: 16px 20px;
}
.list-items-meta{
    margin-bottom: 10px;
    color: #8590a6;
    display: flex;
}
.creator-center-link{
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.creator-center-hint{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 20px 0 4px;
}
.creator-center-img{
    height: 40px;
    width: 80px;
}
.creator-center-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 6px;
    line-height: 16px;
}
.creator-center-title{
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}
.creator-center-message{
    color: #999;
    font-size: 12px;
    margin: 2px;
}
.creator-center-arrow{
    color: #8590a6;
}
.creator-center-analytics{
    border-top: 1px solid #f6f6f6;
    display: flex;
    padding: 20px 0;
    width: 100%;
}
.creator-center-readCountItem{
    align-items: center;
    border-right: 1px solid #ebebeb;
    display: flex;
    flex: 1 0;
    flex-direction: column;
}
.creator-center-readCountTitle{
    color: #8590a6;
    font-size: 12px;
    line-height: 22px;
}
.creator-center-readCountNumber{
    color: #444;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.creator-center-day{
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}
.creator-center-qianri{
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(99, 133, 166);
    margin: 0px;
}
.creator-center-XX{
    box-sizing: border-box;
    min-width: 0px;
    font-weight: 600;
    margin: 0px 0px 0px 4px;
}
.creator-center-wali{
    box-sizing: border-box;
    min-width: 0px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
}
.creator-center-wali-a{
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgb(133, 144, 166);
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0px;
    border-top: 1px solid rgb(246, 246, 246);
    border-color:rgb(246, 246, 246);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #f6f6f6;
    box-sizing: border-box;
}
.card-section{
    padding: 16px 20px;
    position: relative;
}
.card-header-text{
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    white-space: nowrap;
}
.card-content{
    box-sizing: border-box;
    margin: 0;
    padding: 6px 20px;
    display:flex;
    min-width: 0;
}
.card-content-icon{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    flex-shrink: 0;
    margin-right: 8px;
}
.card-content-text{
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}
.card-content-text-collect{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    margin-top: 6px;
    font-size: 14px;
    color: #8590A6;
}
.followship-card{
    font-size: 14px;
}
.followship-card-button{
    flex: 1 1;
    font-size: unset;
    line-height: unset;
    border: 0;
}
.number-item-inner{
    padding: 12px 0;
    text-align: center;
    line-height: 1.6;
    border-right: 1px solid #ebebeb;
}
.number-item-name{
    font-size: 14px;
    color: #8590a6;
}
.number-item-value{
    display:inline-block;
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 600;
}
.question-page{
    position: relative;
}
.question-header{
    position: relative;
    min-width: 1032px;
    padding: 16px 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}
.question-header-content{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.question-header-main{
    width: 694px;
    padding-left: 20px;
    box-sizing: border-box;
}
.question-header-tags{
    display: flex;
}
.question-header-topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1px 0;
}
.question-header-topic{
    margin: 3px 5px 3px 0;
    vertical-align: middle;
}
.tag{
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #0084ff;
    border-radius: 100px;
    background: rgba(0, 132, 255, .1);
    cursor: pointer;
}
.question-header-title{
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    color: #1a1a1a;
}
.question-header-side{
    width: 296px;
    padding-right: 20px;
    text-align: right;
}
.question-follow-counts{
    width: 200px;
    margin-left: auto;
}
.number-board{
    display: flex;
}
.number-board-item{
    flex: 1 1;
}
.number-board-item-inner{
    text-align: center;
    line-height: 1.6;
}
.number-board-item-Inner{
    padding: 0 8px;
}
.number-board-item-name{
    font-size: 14px;
    color: #8590a6;
}
.number-board-item-value{
    display: inline-block;
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 600;
}
.question-header-footer{
    padding-bottom: 12px;
    margin-top: 4px;
    margin-bottom: -12px;
    background: #fff;
}
.question-header-footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.question-header-footer-main{
    margin-top: 4px;
    min-width: 694px;
    width: auto;
    display: flex;
    align-items: center;
}
.question-button-group{
    display: inline-block;
    margin: 0 -8px;
}
.question-button{
    margin: 0 8px;
}
.question-button-icon{
    margin-right: 4px;
    border:none;
    padding: 0;
}
.follow-button{
    min-width: 96px;
    color: #fff;
    background-color: #0084ff;
}
.question-header-Actions{
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.question-header-actions{
    display: flex;
    margin-left: 16px;
}
.question-header-actions-child{
    margin-left: 20px;
}
.button-invite{
    margin: 4px;
}
.question-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    padding: 0 16px;
    width: 1000px;
    min-height: 100vh;
}
.question-maincolumn{
    width: 694px;
    padding-bottom:20px;
}
.question-main-action{
    display: block;
    line-height: 50px;
    color: #8590a6;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 0;
}
.question-answer-content{
    padding: 16px 20px;
}
.autor-info{
    display: flex;
    align-items: center;
}
.answer-item-autor-info{
    margin-top: 0;
}
.answer-item-autor-extrainfo{
    margin-top: 10px;
    margin-bottom: -4px;
    font-size: 14px;
    color: #8590a6;
}
.rich-content{
    line-height: 1.67;
}
.rich-content-inner{
    margin-top: 9px;
    margin-bottom: -4px;
    overflow: hidden;
}
.ztext{
    word-break: break-word;
    line-height: 1.6;
}
.ztext>:first-child{
    margin-top: 0;
}
.ztext p{
    margin: 1.4em 0;
}
.content-item-meta{
    font-size: 15px;
    color: #646464;
}
.content-item-time{
    margin-top: 10px;
    font-size: 14px;
    color: #8590a6;
}
.content-item-actions{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;
    color: #646464;
    background: #fff;
    clear: both;
}
.content-item-action{
    margin-left: 24px;
    font-size: 14px;
    padding: 0;
}
.content-item-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
}
.vote-button{
    padding: 0 10px;
    color: #0084ff;
    background: rgba(0 , 132, 255, .1);
    border-color: transparent;
}
.question-sidecolumn{
    width: 296px;
}
.answer-autor-user{
    display: flex;
    align-items: center;
}
.answer-autor-user-avatar{
    margin-right: 12px;
}
.answer-autor-user-content{
    flex: 1 1;
    overflow: hidden;
}
.avatar{
    background: #fff;
    border-radius: 4px;
}
.answer-autor-user-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #1a1a1a;
}
.answer-autor-counts{
    font-size: 14px;
    text-align: center;
    display: flex;
}
.answer-autor-buttons{
    display: flex;
    margin-top: 16px;
}
.answer-autor-button{
    flex: 1 1;
}
.answer-info-header{
    font-weight: 600;
}
.answer-info-favlists{
    padding: 4px 20px;
    margin: 0;
}
.answer-info-favlist{
    position: relative;
    padding: 12px 0;
    font-size: 14px;
    line-height: 24px;
    color: #8590a6;
}
.answer-info-favlist-title{
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.answer-info-favlist-a{
    display: inline;
    color: #175199;
}
.answer-info-favlist-follower{
    position: absolute;
    top: 12px;
    right: 0;
}
.answer-info-title-button{
    font-size: inherit;
    color: #175199;
}
.similar-questions-item{
    font-size: 14px;
    line-height: 21px;
    color: #8590a6;
}
.relater-comodities-item{
    align-items: center;
    display: flex;
}
.relater-comodities-img{
    width: 80px;
    height: 64px;
    border-radius: 3px;
    margin-right: 8px;
    object-fit: cover;
}
.relater-comodities-content{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
}
.relater-comodities-subject{
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.relater-comodities-subject-two{
    max-height: 40px;
    white-space:normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.relater-comodities-meta{
    display: flex;
    color: #8590a6;
    margin-top: 4px;
}
.relater-comodities-bookmeta{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.relater-comodities-bookread{
    padding: 3px 6px 3px 3px;
    border-radius: 3px;
    line-height: 1;
    color: #fff;
    background: #0084ff;
}
.viewall{
    overflow: initial;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;
    vertical-align: "";
}
ul{
    padding: 0;
    margin: 0;
}
h1{
    margin: 0;
    font: inherit;
}